body {
  background-color: powderblue;
  color: black;
}


#submit {
 color: rgb(119, 37, 37);
 
}


.encapsulate {
  width: 900px;
  height: 230px;
  border: 1px solid;
  padding: 20px 0;
  margin: 50px 0;
  background-color: lightgrey;
  box-shadow: 5px 10px;
  list-style-type: none;
  
}



.commentlist {
  list-style-type: none;
  border: 1px solid;
  padding: 2px;
  text-align: center;
  background-color: lightblue;
  width: 50%;
  position:absolute;
  float: left;

}


.tagslist {
  list-style-type: none;
  border: 1px solid;
  padding: 2px;
  text-align: center;
  background-color: lightseagreen;
  width: 25%;
  float: right;
 
  
}

.inline {
  margin: 10px;
  float: left;
}

a { background-color: white;
  color: red;
  border: solid black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
 

}


  .bookmarklinks { background-color: white;
    color: red;
    border: solid black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    list-style-type: none;
    width: 93%;
    }

    .bookmarklinklist {
      list-style-type: none;
    }

    

    .navbar1 {
      
      margin: 1%; 
      list-style-type: none;
      display: inline-block;
    }